<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="sg.edu.np.adrift">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/icon"
        android:supportsRtl="true"
        android:theme="@style/Theme.Adrift">
        <activity android:name=".TipsActivity"></activity>
        <activity android:name=".MusicActivity3" />
        <activity android:name=".MusicActivity2" />
        <activity android:name=".MusicActivity" />
        <activity android:name=".SelectMusicActivity" />
        <activity android:name=".BreatheActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>